<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= form_with model: @url do |form| %>
  <p>
    <%= form.label :original_url %><br>
    <%= form.text_area :original_url %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>